html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}